Repository YAPP-Github/26th-Web-Team-2-FE, pull requests merged in 2025-07, with the labels that each got.

#30 [Y26W2-50] feat(web,ui): vitest, magnitude-test 이용한 테스트 환경 구축
  apps/web/magnitude.config.ts
  apps/web/package.json
  apps/web/tests/app-root.mag.ts
  apps/web/tests/shared-configs-tanstack-query.browser.test.ts
  apps/web/tests/shared-configs-tanstack-query.node.test.ts
  apps/web/turbo.json
  apps/web/vitest.config.ts
  packages/ui/.storybook/preview.ts
  packages/ui/.storybook/vitest.setup.ts
  packages/ui/package.json
  packages/ui/tests/utils.test.ts
  packages/ui/turbo.json
  packages/ui/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: root, size/xl, apps/web, packages/ui

#32 [Y26W2-51] feat(web): Pretendard 폰트 사용
  .vscode/settings.json
  apps/web/package.json
  apps/web/src/app/app.css
  apps/web/src/app/layout.tsx
  apps/web/turbo.json
  packages/ui/turbo.json
  pnpm-lock.yaml
Labels: root, size/s, apps/web, packages/ui

#40 [Y26W2-114] feat(root): Replace yapp-github, hul-zzuck with ssok
  .github/workflows/chromatic.yml
  .github/workflows/deploy.yml
  README.md
  apps/web/package.json
  apps/web/src/app/app.css
  apps/web/src/app/page.tsx
  apps/web/turbo.json
  docs/.vitepress/config.mts
  docs/index.md
  docs/package.json
  package.json
  packages/ui/package.json
  packages/ui/src/introduction.mdx
  pnpm-lock.yaml
Labels: root, size/s, apps/web, packages/ui

#45 [Y26W2-120] feat(web): SideNavigation 컴포넌트 구현
  apps/web/src/app/app.css
  apps/web/src/app/boards/[id]/compares/[compare-id]/page.tsx
  apps/web/src/app/boards/[id]/compares/page.tsx
  apps/web/src/app/boards/[id]/layout.tsx
  apps/web/src/app/boards/[id]/lists/page.tsx
  apps/web/src/shared/components/Logo/index.tsx
  apps/web/src/shared/components/SideNavigation/index.tsx
  apps/web/src/shared/components/SideNavigation/useNavigationMenus.tsx
  packages/ui/src/assets/icons/ic_list.svg
  packages/ui/src/assets/icons/ic_table.svg
  packages/ui/src/foundations/icons.stories.tsx
  packages/ui/src/index.ts
Labels: size/m, apps/web, packages/ui

#46 [Y26W2-116] feat(ui): TextField 컴포넌트 개선
  packages/ui/src/text-field/index.stories.tsx
  packages/ui/src/text-field/index.tsx
Labels: size/s, apps/web, packages/ui

#47 [Y26W2-123] feat(ui): Graph 컴포넌트 구현
  packages/ui/src/assets/icons/ic_star_full.svg
  packages/ui/src/graph/index.stories.tsx
  packages/ui/src/graph/index.tsx
  packages/ui/src/icon-button/normal-icon-button/normal-icon-button.stories.tsx
  packages/ui/src/index.ts
Labels: size/m, apps/web, packages/ui

#48 [Y26W2-117] feat(ui): chip / pin 공통 컴포넌트 제작
  packages/ui/src/chip/chip.stories.tsx
  packages/ui/src/chip/chip.variant.ts
  packages/ui/src/chip/index.tsx
  packages/ui/src/index.ts
  packages/ui/src/pin/index.tsx
  packages/ui/src/pin/pin.stories.tsx
Labels: size/m, apps/web, packages/ui

#49 [Y26W2-129] feat(ui): IconTabs 컴포넌트 구현
  packages/ui/src/icon-tabs/index.stories.tsx
  packages/ui/src/icon-tabs/index.tsx
  packages/ui/src/index.ts
Labels: size/m, apps/web, packages/ui

#51 [Y26W2-138] feat(tailwind-config): Tailwind 테마 플러그인 패키지 구현
  packages/tailwind-config/package.json
  packages/tailwind-config/src/index.ts
  packages/tailwind-config/src/plugin.ts
  packages/tailwind-config/src/theme.ts
  packages/tailwind-config/tsconfig.json
  packages/tailwind-config/vite.config.ts
  pnpm-lock.yaml
Labels: root, size/l

#52 [Y26W2-138] ci(root): tailwind-config 패키지 labeler ci 추가
  .github/workflows/labeler.yml
Labels: root, size/s

#54 [Y26W2-138] feat(web): tailwind-config 패키지를 이용하도록 변경
  apps/web/package.json
  apps/web/src/app/app.css
  pnpm-lock.yaml
Labels: size/xs, apps/web

#56 [Y26W2-138] refactor(ui): IconText 컴포넌트를 TextWithIcon으로 리팩토링
  packages/ui/src/card/index.tsx
  packages/ui/src/icon-text/icon-text.stories.tsx
  packages/ui/src/icon-text/index.tsx
  packages/ui/src/text-with-icon/icon-text.stories.tsx
  packages/ui/src/text-with-icon/index.tsx
Labels: size/m, apps/web, packages/ui

#57 [Y26W2-138] refactor(ui): Divider 컴포넌트 삭제, constant 삭제
  packages/ui/src/card/index.tsx
  packages/ui/src/constant.ts
  packages/ui/src/divider/divider.stories.tsx
  packages/ui/src/divider/divider.tsx
Labels: size/m, apps/web, packages/ui

#50 [Y26W2-136] refactor(ui): 컴포넌트 폴더 구조 변경
  packages/ui/src/components/button/button.stories.tsx
  packages/ui/src/components/button/button.variant.ts
  packages/ui/src/components/button/index.tsx
  packages/ui/src/components/card/card.stories.tsx
  packages/ui/src/components/card/card.variant.ts
  packages/ui/src/components/card/index.tsx
  packages/ui/src/components/chip/chip.stories.tsx
  packages/ui/src/components/chip/chip.variant.ts
  packages/ui/src/components/chip/index.tsx
  packages/ui/src/components/divider/divider.stories.tsx
  packages/ui/src/components/divider/divider.tsx
  packages/ui/src/components/graph/index.stories.tsx
  packages/ui/src/components/graph/index.tsx
  packages/ui/src/components/icon-button/add-icon-button/add-icon-button.stories.tsx
  packages/ui/src/components/icon-button/add-icon-button/add-icon-button.variant.ts
  packages/ui/src/components/icon-button/add-icon-button/index.tsx
  packages/ui/src/components/icon-button/check-icon-button/check-icon-button.stories.tsx
  packages/ui/src/components/icon-button/check-icon-button/check-icon-button.variant.ts
  packages/ui/src/components/icon-button/check-icon-button/index.tsx
  packages/ui/src/components/icon-button/delete-icon-button/delete-icon-button.stories.tsx
  packages/ui/src/components/icon-button/delete-icon-button/index.tsx
  packages/ui/src/components/icon-button/floating-icon-button/floating-icon-button.stories.tsx
  packages/ui/src/components/icon-button/floating-icon-button/index.tsx
  packages/ui/src/components/icon-button/normal-icon-button/index.tsx
  packages/ui/src/components/icon-button/normal-icon-button/normal-icon-button.stories.tsx
  packages/ui/src/components/icon-button/normal-icon-button/normal-icon-button.variant.ts
  packages/ui/src/components/icon-button/solid-expand/index.tsx
  packages/ui/src/components/icon-button/solid-expand/solid-expand.stories.tsx
  packages/ui/src/components/icon-tabs/index.stories.tsx
  packages/ui/src/components/icon-tabs/index.tsx
  packages/ui/src/components/image-card/index.tsx
  packages/ui/src/components/interim-button/InterimButton.stories.tsx
  packages/ui/src/components/interim-button/index.tsx
  packages/ui/src/components/interim-description/index.tsx
  packages/ui/src/components/interim-title/index.tsx
  packages/ui/src/components/pin/index.tsx
  packages/ui/src/components/pin/pin.stories.tsx
  packages/ui/src/components/text-field/index.stories.tsx
  packages/ui/src/components/text-field/index.tsx
  packages/ui/src/components/text-with-icon/icon-text.stories.tsx
  packages/ui/src/components/text-with-icon/index.tsx
  packages/ui/src/index.ts
Labels: size/m, apps/web, packages/ui

#58 [Y26W2-60] fix(ui, tailwind-config): exports 경로 및 tsconfig 설정 수정으로 빌…
  packages/tailwind-config/package.json
  packages/ui/tsconfig.json
Labels: size/xs, apps/web, packages/ui, packages/tailwind-config

#59 [Y26W2-60] feat(web): google map 연동 및 pin 커스텀 설정
  apps/web/package.json
  apps/web/src/app/boards/[id]/layout.tsx
  apps/web/src/shared/components/Map/MapPin.tsx
  apps/web/src/shared/components/Map/index.tsx
  apps/web/src/shared/utils/map-utils.ts
  apps/web/src/types/env.d.ts
  apps/web/tests/map-utils.test.ts
  packages/ui/src/components/pin/index.tsx
  pnpm-lock.yaml
Labels: size/m, apps/web, packages/ui

#61 [Y26W2-168] feat(api): Orval 기반 API Client 라이브러리 구현
  apps/web/package.json
  apps/web/src/app/debug/api/error.tsx
  apps/web/src/app/debug/api/page.tsx
  packages/api/orval.config.ts
  packages/api/package.json
  packages/api/src/api/http.ts
  packages/api/src/api/openapi.json
  packages/api/src/api/transformer.js
  packages/api/src/index.msw.ts
  packages/api/src/index.schemas.ts
  packages/api/src/index.ts
  packages/api/tsconfig.json
  packages/api/vite.config.ts
  pnpm-lock.yaml
Labels: root, size/xl, apps/web, packages/ui

#63 [Y26W2-174] feat(ui): Icon 컴포넌트 export 추가 및 정리
  packages/ui/src/assets/icons/ic_add.svg
  packages/ui/src/assets/icons/ic_add_memo.svg
  packages/ui/src/assets/icons/ic_arrow_down.svg
  packages/ui/src/assets/icons/ic_arrow_left.svg
  packages/ui/src/assets/icons/ic_arrow_up.svg
  packages/ui/src/assets/icons/ic_car.svg
  packages/ui/src/assets/icons/ic_check_fill.svg
  packages/ui/src/assets/icons/ic_close.svg
  packages/ui/src/assets/icons/ic_collapse.svg
  packages/ui/src/assets/icons/ic_edit.svg
  packages/ui/src/assets/icons/ic_expand.svg
  packages/ui/src/assets/icons/ic_has_memo.svg
  packages/ui/src/assets/icons/ic_info.svg
  packages/ui/src/assets/icons/ic_km.svg
  packages/ui/src/assets/icons/ic_location.svg
  packages/ui/src/assets/icons/ic_map.svg
  packages/ui/src/assets/icons/ic_memo.svg
  packages/ui/src/assets/icons/ic_round-plus.svg
  packages/ui/src/assets/icons/ic_save.svg
  packages/ui/src/assets/icons/ic_share.svg
  packages/ui/src/assets/icons/ic_star_empty.svg
  packages/ui/src/assets/icons/ic_star_full.svg
  packages/ui/src/assets/icons/ic_star_half.svg
  packages/ui/src/assets/icons/ic_table.svg
  packages/ui/src/assets/icons/ic_walker.svg
  packages/ui/src/foundations/icons.stories.tsx
  packages/ui/src/index.ts
Labels: size/m, apps/web, packages/ui

#62 [Y26W2-173] feat(ui): Divider 컴포넌트 다시 제거
  packages/ui/src/components/divider/divider.stories.tsx
  packages/ui/src/components/divider/divider.tsx
Labels: size/s, apps/web, packages/ui

#64 [Y26W2-126] feat(ui): Amenity에 사용되는 12가지 아이콘 추가
  packages/ui/src/assets/icons/ic_accessible_forward.svg
  packages/ui/src/assets/icons/ic_cleaning_services.svg
  packages/ui/src/assets/icons/ic_fitness_center.svg
  packages/ui/src/assets/icons/ic_home_repair_service.svg
  packages/ui/src/assets/icons/ic_local_bar.svg
  packages/ui/src/assets/icons/ic_local_parking.svg
  packages/ui/src/assets/icons/ic_luggage.svg
  packages/ui/src/assets/icons/ic_pets.svg
  packages/ui/src/assets/icons/ic_point_of_sale.svg
  packages/ui/src/assets/icons/ic_pool.svg
  packages/ui/src/assets/icons/ic_restaurant.svg
  packages/ui/src/assets/icons/ic_wifi.svg
  packages/ui/src/foundations/icons.stories.tsx
  packages/ui/src/index.ts
Labels: size/m, apps/web, packages/ui

#65 [Y26W2-126] feat(web): SideNavigation 컴포넌트 리팩토링 및 아이콘 반영
  apps/web/src/app/boards/[id]/layout.tsx
  apps/web/src/shared/components/side-navigation/index.tsx
  apps/web/src/shared/components/side-navigation/use-navigation-menus.tsx
  packages/ui/src/assets/icons/ic_bookmark.svg
  packages/ui/src/assets/icons/ic_list.svg
  packages/ui/src/assets/icons/ic_table.svg
  packages/ui/src/foundations/icons.stories.tsx
  packages/ui/src/index.ts
Labels: size/s, apps/web, packages/ui

#67 [Y26W2-126] feat(web): 비교표 페이지 초안 구현
  apps/web/src/app/boards/[id]/compares/[compare-id]/page.tsx
  apps/web/src/domains/compare/assets/symbol_table_time_right_arrow.svg
  apps/web/src/domains/compare/components/compare-page-header/index.tsx
  apps/web/src/domains/compare/components/compare-page-title/index.tsx
  apps/web/src/domains/compare/components/compare-table/amenities-cell.tsx
  apps/web/src/domains/compare/components/compare-table/check-in-out-cell.tsx
  apps/web/src/domains/compare/components/compare-table/cleanliness-score-cell.tsx
  apps/web/src/domains/compare/components/compare-table/image-cell.tsx
  apps/web/src/domains/compare/components/compare-table/index.tsx
  apps/web/src/domains/compare/components/compare-table/metadata-cell.tsx
  apps/web/src/domains/compare/components/compare-table/nearby-attractions-cell.tsx
  apps/web/src/domains/compare/components/compare-table/nearby-transportation-cell.tsx
  apps/web/src/domains/compare/components/compare-table/photo-cell.tsx
  apps/web/src/domains/compare/components/compare-table/review-score-cell.tsx
  apps/web/src/domains/compare/components/compare-table/review-summary-cell.tsx
  apps/web/src/domains/compare/components/table-amenities-contents/index.tsx
  apps/web/src/domains/compare/components/table-places-contents/index.tsx
  apps/web/src/domains/compare/components/table-time-contents/index.tsx
  apps/web/src/domains/compare/hooks/use-compare-data.ts
  apps/web/src/domains/compare/types.ts
  apps/web/src/domains/compare/utils/check-in-out.ts
  apps/web/src/domains/compare/views/compare-page-view/index.tsx
  apps/web/src/shared/utils/date.ts
  apps/web/tests/shared-utils-date.node.test.ts
  packages/tailwind-config/src/theme.ts
  packages/ui/src/assets/icons/ic_clock.svg
  packages/ui/src/components/graph/index.tsx
  packages/ui/src/foundations/icons.stories.tsx
  packages/ui/src/index.ts
Labels: size/xl, apps/web, packages/ui, packages/tailwind-config

#70 [Y26W2-126] feat(web): 비교표 이미지가 정상적으로 보여지도록 수정
  apps/web/next.config.ts
  apps/web/src/domains/compare/components/compare-table/photo-cell.tsx
  apps/web/src/domains/compare/hooks/use-compare-data.ts
Labels: size/s, apps/web

#69 [Y26W2-182] chore(root): 미사용 코드 제거 (interim component, index page)
  apps/web/src/app/page.tsx
  apps/web/src/shared/assets/svg/ic_check_black_22.svg
  apps/web/src/shared/atoms/counter.ts
  packages/ui/src/components/interim-button/InterimButton.stories.tsx
  packages/ui/src/components/interim-button/index.tsx
  packages/ui/src/components/interim-description/index.tsx
  packages/ui/src/components/interim-title/index.tsx
  packages/ui/src/index.ts
Labels: size/m, apps/web, packages/ui

#72 [Y26W2-184] refactor(root): 함수 정의를 모두 Arrow Function으로 변경
  apps/web/src/app/debug/sentry/page.tsx
  apps/web/src/app/global-error.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/shared/configs/tanstack-query/get-query-client.ts
  apps/web/src/shared/providers/index.tsx
  apps/web/src/shared/providers/modules/jotai-provider.tsx
  apps/web/src/shared/providers/modules/query-provider.tsx
  docs/etc.md
  packages/ui/src/components/icon-tabs/index.tsx
  packages/ui/src/utils/index.ts
Labels: root, size/s, apps/web, packages/ui

#73 [Y26W2-187] feat(web): dropdown 추가 및 지도 layer 수정
  apps/web/src/app/boards/[id]/lists/_mock.ts
  apps/web/src/app/boards/[id]/lists/page.tsx
  apps/web/src/domains/list/components/header-section/index.tsx
  apps/web/src/domains/list/components/link-input-section/atom/bubble-info.tsx
  apps/web/src/domains/list/components/link-input-section/atom/button-container.tsx
  apps/web/src/domains/list/components/link-input-section/atom/link-input-container.tsx
  apps/web/src/domains/list/components/link-input-section/atom/title-section.tsx
  apps/web/src/domains/list/components/link-input-section/index.tsx
  apps/web/src/domains/list/components/place-list-section/atoms/drop-down.tsx
  apps/web/src/domains/list/components/place-list-section/index.tsx
  apps/web/src/domains/list/hooks/use-member-data.ts
  apps/web/src/domains/list/hooks/use-outside-click.ts
  apps/web/src/domains/list/hooks/use-place-data.ts
  apps/web/src/domains/list/hooks/use-register-url-input.ts
  apps/web/src/shared/components/map-component/index.tsx
  packages/ui/src/components/card/card.variant.ts
  packages/ui/src/components/card/index.tsx
  packages/ui/src/components/icon-button/add-icon-button/index.tsx
Labels: size/l, apps/web, packages/ui

#76 [Y26W2-214] feat(app): maze-us 연동 추가
  apps/web/src/app/layout.tsx
  apps/web/src/shared/components/maze-us/index.tsx
Labels: size/s, apps/web

#74 [Y26W2-207] feat(web): 저장된 숙소가 없는 경우 대체 UI
  apps/web/src/domains/list/components/place-list-section/atom/drop-down.tsx
  apps/web/src/domains/list/components/place-list-section/atom/empty-list-container.tsx
  apps/web/src/domains/list/components/place-list-section/index.tsx
Labels: size/s, apps/web
