Repository YAPP-Github/26th-Web-Team-2-FE, pull requests merged in 2025-08, with the labels that each got.

#78 [Y26W2-216] feat(web): onboarding tooltip 제작
  apps/web/src/domains/list/components/link-input-section/atom/onboarding-bubble.tsx
  apps/web/src/domains/list/components/link-input-section/index.tsx
  apps/web/src/domains/list/hooks/use-onboarding-step.tsx
  packages/tailwind-config/src/theme.ts
  packages/ui/src/components/button/button.variant.ts
  packages/ui/src/components/button/index.tsx
Labels: size/m, apps/web, packages/ui, packages/tailwind-config

#79 [Y26W2-188] feat(web): URL 드래그앤드랍 인터렉션 제작
  apps/web/src/app/boards/[id]/lists/page.tsx
  apps/web/src/domains/list/components/link-input-section/atom/link-input-container.tsx
  apps/web/src/domains/list/components/link-input-section/index.tsx
  apps/web/src/domains/list/hooks/use-drag-and-drop.ts
  apps/web/src/domains/list/hooks/use-register-url-input.ts
  packages/ui/src/components/text-field/index.tsx
Labels: size/m, apps/web, packages/ui

#81 [Y26W2-126] feat(web): Photo 컴포넌트 개발 및 PhotoCell 리팩토링
  apps/web/package.json
  apps/web/src/domains/compare/components/compare-table/image-cell.tsx
  apps/web/src/domains/compare/components/compare-table/index.tsx
  apps/web/src/domains/compare/components/compare-table/photo-cell.tsx
  apps/web/src/domains/compare/hooks/use-compare-data.ts
  apps/web/src/shared/components/photo/index.tsx
  pnpm-lock.yaml
Labels: size/m, apps/web

#82 [Y26W2-126] feat(ui): IcAddBox(ic_add_box) 아이콘 추가
  packages/ui/src/assets/icons/ic_add_box.svg
  packages/ui/src/foundations/icons.stories.tsx
  packages/ui/src/index.ts
Labels: size/xs, apps/web, packages/ui

#83 [Y26W2-126] feat(web): AddCell 내용 보충하기 버튼 추가
  apps/web/src/domains/compare/components/compare-table/add-cell.tsx
  apps/web/src/domains/compare/components/compare-table/amenities-cell.tsx
  apps/web/src/domains/compare/components/compare-table/cleanliness-score-cell.tsx
  apps/web/src/domains/compare/components/compare-table/index.tsx
  apps/web/src/domains/compare/components/compare-table/nearby-attractions-cell.tsx
  apps/web/src/domains/compare/components/compare-table/nearby-transportation-cell.tsx
  apps/web/src/domains/compare/components/compare-table/review-score-cell.tsx
  apps/web/src/domains/compare/components/compare-table/review-summary-cell.tsx
  apps/web/src/domains/compare/hooks/use-compare-data.ts
Labels: size/m, apps/web

#84 [Y26W2-126] feat(web): 비교표 페이지 뷰 모드 구현
  apps/web/src/app/boards/[id]/layout.tsx
  apps/web/src/domains/compare/components/compare-page-title/index.tsx
  apps/web/src/domains/compare/hooks/use-view-mode.ts
  apps/web/src/domains/compare/views/compare-page-view/index.tsx
  apps/web/src/shared/components/map-component/index.tsx
Labels: size/s, apps/web

#85 [Y26W2-126] fix(web): TableTimeContents 간격 수정
  apps/web/src/domains/compare/components/table-time-contents/index.tsx
Labels: size/xs, apps/web

#86 [Y26W2-126] feat(web): 비교표 페이지 반응형
  apps/web/src/app/boards/[id]/layout.tsx
  apps/web/src/domains/compare/components/compare-table/index.tsx
Labels: size/s, apps/web

#87 [Y26W2-126] chore(web): UT 용 테스트 데이터 수정
  apps/web/src/domains/compare/components/compare-table/index.tsx
  apps/web/src/domains/compare/components/compare-table/nearby-attractions-cell.tsx
  apps/web/src/domains/compare/components/compare-table/nearby-transportation-cell.tsx
  apps/web/src/domains/compare/hooks/use-compare-data.ts
Labels: size/s, apps/web

#88 [Y26W2-126] feat(ui): IcPlusCircle(ic_plus_circle) 아이콘 추가
  packages/ui/src/assets/icons/ic_plus_circle.svg
  packages/ui/src/foundations/icons.stories.tsx
  packages/ui/src/index.ts
Labels: size/xs, apps/web, packages/ui

#89 [Y26W2-126] feat(web): 비교표 편집 모드 초기 구현
  apps/web/src/domains/compare/components/compare-page-title/index.tsx
  apps/web/src/domains/compare/components/compare-table/add-cell.tsx
  apps/web/src/domains/compare/components/compare-table/amenities-cell.tsx
  apps/web/src/domains/compare/components/compare-table/check-in-out-cell.tsx
  apps/web/src/domains/compare/components/compare-table/cleanliness-score-cell.tsx
  apps/web/src/domains/compare/components/compare-table/index.tsx
  apps/web/src/domains/compare/components/compare-table/metadata-cell.tsx
  apps/web/src/domains/compare/components/compare-table/nearby-attractions-cell.tsx
  apps/web/src/domains/compare/components/compare-table/nearby-transportation-cell.tsx
  apps/web/src/domains/compare/components/compare-table/photo-cell.tsx
  apps/web/src/domains/compare/components/compare-table/review-score-cell.tsx
  apps/web/src/domains/compare/components/compare-table/review-summary-cell.tsx
  apps/web/src/domains/compare/hooks/use-view-mode.ts
  apps/web/src/domains/compare/types.ts
  apps/web/src/domains/compare/views/compare-page-view/index.tsx
Labels: apps/web

#91 [Y26W2-126] fix(ui): TextField value 전달 수정, Graph 스타일 수정
  packages/ui/src/components/graph/index.tsx
  packages/ui/src/components/text-field/index.tsx
Labels: size/s, apps/web, packages/ui

#92 [Y26W2-126] feat(web): 비교표 페이지 수정 UI 구현
  apps/web/src/domains/compare/components/compare-table/add-cell.tsx
  apps/web/src/domains/compare/components/compare-table/amenities-cell.tsx
  apps/web/src/domains/compare/components/compare-table/cleanliness-score-cell.tsx
  apps/web/src/domains/compare/components/compare-table/index.tsx
  apps/web/src/domains/compare/components/compare-table/nearby-attractions-cell.tsx
  apps/web/src/domains/compare/components/compare-table/nearby-transportation-cell.tsx
  apps/web/src/domains/compare/components/compare-table/photo-cell.tsx
  apps/web/src/domains/compare/components/compare-table/review-score-cell.tsx
  apps/web/src/domains/compare/components/table-amenities-contents/index.tsx
  apps/web/src/domains/compare/components/table-places-contents/index.tsx
  apps/web/src/shared/components/add-button/index.tsx
Labels: size/m, apps/web

#93 [Y26W2-220] feat(web): 숙소 조회 및 숙소 등록 api 연결
  apps/web/src/app/api/accomodation/prefetch-accommodation.ts
  apps/web/src/app/api/accomodation/use-accomodation-list.ts
  apps/web/src/app/boards/[id]/layout.tsx
  apps/web/src/app/boards/[id]/lists/page.tsx
  apps/web/src/app/debug/api/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/domains/list/components/header-section/index.tsx
  apps/web/src/domains/list/components/link-input-section/atom/button-container.tsx
  apps/web/src/domains/list/components/link-input-section/index.tsx
  apps/web/src/domains/list/components/place-list-section/atom/drop-down.tsx
  apps/web/src/domains/list/components/place-list-section/atom/empty-list-container.tsx
  apps/web/src/domains/list/components/place-list-section/index.tsx
  apps/web/src/domains/list/contexts/accomodation-context.tsx
  apps/web/src/domains/list/hooks/use-dropdown.ts
  apps/web/src/domains/list/hooks/use-member-data.ts
  apps/web/src/shared/components/map-component/index.tsx
  apps/web/src/shared/utils/map.ts
  packages/api/src/api/openapi.json
  packages/api/src/index.msw.ts
  packages/api/src/index.schemas.ts
  packages/api/src/index.ts
  packages/ui/src/assets/icons/ic_memo_filled.svg
  packages/ui/src/components/card/card.stories.tsx
  packages/ui/src/components/card/index.tsx
  packages/ui/src/index.ts
Labels: root, size/xl, apps/web, packages/ui

#94 [Y26W2-126] feat(web): CompareAccommodations Accordion 개발
  apps/web/package.json
  apps/web/src/app/app.css
  apps/web/src/domains/compare/components/compare-accommodations/index.tsx
  apps/web/src/domains/compare/views/compare-page-view/index.tsx
  pnpm-lock.yaml
Labels: size/l, apps/web

#96 [Y26W2-126] fix(web): 누락된 loop 내 key prop 추가
  apps/web/src/domains/compare/components/table-amenities-contents/index.tsx
  apps/web/src/domains/compare/components/table-places-contents/index.tsx
Labels: size/s, apps/web

#97 [Y26W2-126] fix(web): CompareAccommodations Accordion 디자인 수정
  apps/web/src/domains/compare/components/compare-accommodations/index.tsx
Labels: size/s, apps/web

#100 [Y26W2-230] feat(ui,web): Textarea 컴포넌트 개발
  apps/web/src/domains/compare/components/compare-table/review-summary-cell.tsx
  packages/ui/package.json
  packages/ui/src/components/textarea/index.stories.tsx
  packages/ui/src/components/textarea/index.tsx
  packages/ui/src/index.ts
  pnpm-lock.yaml
Labels: size/m, apps/web, packages/ui

#109 [Y26W2-264] feat(api,web): 임시 인증 추가
  .npmrc
  apps/web/package.json
  apps/web/src/app/api/accomodation/prefetch-accommodation.ts
  apps/web/src/app/api/accomodation/use-accomodation-list.ts
  apps/web/src/app/boards/[id]/lists/page.tsx
  apps/web/src/domains/list/components/link-input-section/index.tsx
  apps/web/src/types/env.d.ts
  packages/api/orval.config.ts
  packages/api/package.json
  packages/api/src/index.msw.ts
  packages/api/src/index.schemas.ts
  packages/api/src/index.ts
  packages/api/vite.config.ts
  pnpm-lock.yaml
Labels: root, size/l, apps/web

#107 [Y26W2-255] chore(tailwind-config): neutral color 수정 사항 반영
  packages/tailwind-config/src/theme.ts
Labels: size/s, apps/web, packages/ui, packages/tailwind-config

#110 [Y26W2-284] feat(api): OpenAPI 갱신, 스키마 수정
  apps/web/src/domains/compare/components/compare-table/check-in-out-cell.tsx
  apps/web/src/domains/compare/hooks/use-compare-data.ts
  apps/web/src/domains/compare/utils/check-in-out.ts
  apps/web/src/domains/list/components/link-input-section/index.tsx
  packages/api/src/api/openapi.json
  packages/api/src/api/transformer.js
  packages/api/src/index.msw.ts
  packages/api/src/index.schemas.ts
  packages/api/src/index.ts
Labels: root, size/xl, apps/web

#111 [Y26W2-279] feat(web): Server Side 인증 구현
  apps/web/package.json
  apps/web/src/app/api/auth/[...auth]/route.ts
  apps/web/src/app/login/oauth2/code/[provider]/route.ts
  apps/web/src/domains/auth/index.ts
  apps/web/src/domains/auth/types/index.ts
  apps/web/src/domains/auth/utils/auth-client.ts
  apps/web/src/domains/auth/utils/url.ts
  apps/web/src/types/env.d.ts
  pnpm-lock.yaml
Labels: size/m, apps/web

#108 [Y26W2-263] fix(web): SENTRY_AUTH_TOKEN 전달 수정
  apps/web/turbo.json
Labels: size/xs, apps/web

#113 [Y26W2-126] feat(web): 비교표 페이지 수정 기능 구현
  apps/web/src/app/app.css
  apps/web/src/app/boards/[id]/compares/[compare-id]/page.tsx
  apps/web/src/app/boards/[id]/compares/[table-id]/page.tsx
  apps/web/src/domains/compare/components/compare-accommodations/index.tsx
  apps/web/src/domains/compare/components/compare-page-title/index.tsx
  apps/web/src/domains/compare/components/compare-page-title/page-title.tsx
  apps/web/src/domains/compare/components/compare-table/add-cell.tsx
  apps/web/src/domains/compare/components/compare-table/amenities-cell.tsx
  apps/web/src/domains/compare/components/compare-table/check-in-out-cell.tsx
  apps/web/src/domains/compare/components/compare-table/cleanliness-score-cell.tsx
  apps/web/src/domains/compare/components/compare-table/index.tsx
  apps/web/src/domains/compare/components/compare-table/nearby-attractions-cell.tsx
  apps/web/src/domains/compare/components/compare-table/nearby-places-cell.tsx.tsx
  apps/web/src/domains/compare/components/compare-table/nearby-transportation-cell.tsx
  apps/web/src/domains/compare/components/compare-table/photo-cell.tsx
  apps/web/src/domains/compare/components/compare-table/review-score-cell.tsx
  apps/web/src/domains/compare/components/compare-table/review-summary-cell.tsx
  apps/web/src/domains/compare/components/table-amenities-contents/index.tsx
  apps/web/src/domains/compare/components/table-places-contents/index.tsx
  apps/web/src/domains/compare/components/table-time-contents/index.tsx
  apps/web/src/domains/compare/hooks/use-compare-data.ts
  apps/web/src/domains/compare/hooks/use-comparison-table.ts
  apps/web/src/domains/compare/types.ts
  apps/web/src/domains/compare/utils/check-in-out.ts
  apps/web/src/domains/compare/utils/form.ts
  apps/web/src/domains/compare/views/compare-page-view/index.tsx
  apps/web/src/shared/components/photo/index.tsx
  biome.json
  packages/ui/package.json
  packages/ui/src/components/graph/index.stories.tsx
  packages/ui/src/components/graph/index.tsx
  packages/ui/src/components/time-picker/index.tsx
  packages/ui/src/utils/date.ts
  pnpm-lock.yaml
Labels: root, size/xl, apps/web, packages/ui

#117 [Y26W2-294] feat(web): trip board detail 연결
  apps/web/src/app/boards/[id]/lists/page.tsx
  apps/web/src/domains/list/components/header-section/index.tsx
  apps/web/src/domains/list/components/link-input-section/index.tsx
  apps/web/src/domains/list/components/place-list-section/index.tsx
  apps/web/src/domains/list/hooks/use-accommodation-list.ts
  apps/web/src/domains/list/hooks/use-board-data.ts
  apps/web/src/domains/list/hooks/use-member-data.ts
  packages/api/src/api/openapi.json
  packages/api/src/api/transformer.js
  packages/api/src/index.msw.ts
  packages/api/src/index.schemas.ts
  packages/api/src/index.ts
Labels: root, size/xl, apps/web

#118 [Y26W2-299] fix(web): tripBoardId 변경에 따른 빌드 오류 수정
  apps/web/src/domains/compare/hooks/use-comparison-table.ts
  apps/web/src/domains/compare/utils/form.ts
Labels: size/xs, apps/web

#115 [Y26W2-289] feat(web): 숙소 비교표 생성 api 연결
  apps/web/src/domains/list/components/place-list-section/index.tsx
  apps/web/src/shared/components/map-component/index.tsx
  packages/tailwind-config/src/theme.ts
  packages/ui/src/components/button/button.variant.ts
  packages/ui/src/components/button/index.tsx
  packages/ui/src/components/card/card.utils.tsx
  packages/ui/src/components/card/index.tsx
  packages/ui/src/components/pin/index.tsx
Labels: size/m, apps/web, packages/ui, packages/tailwind-config

#119 [Y26W2-301] fix(ui): SSR 과정에서 발생하는 document 오류 수정
  packages/api/package.json
  packages/api/vite.config.ts
  packages/tailwind-config/package.json
  packages/tailwind-config/vite.config.ts
  packages/ui/package.json
  packages/ui/vite.config.mts
  pnpm-lock.yaml
Labels: root, size/m, apps/web, packages/ui, packages/tailwind-config

#120 [Y26W2-302] feat(ui): Popup 컴포넌트 개발
  packages/ui/src/components/popup/index.stories.tsx
  packages/ui/src/components/popup/index.tsx
  packages/ui/src/index.ts
Labels: size/m, apps/web, packages/ui

#124 [Y26W2-302] feat(ui): 누락된 Next.js svgr 타입 설정 추가
  apps/web/src/types/svgr.d.ts
  apps/web/tsconfig.json
Labels: size/xs, apps/web

#125 [Y26W2-303] feat(web): 카카오 로그인 팝업 구현
  apps/web/src/app/debug/auth/page.tsx
  apps/web/src/shared/assets/logo-large.svg
  apps/web/src/shared/assets/social-kakao.svg
  apps/web/src/shared/components/login-popup/index.tsx
Labels: size/s, apps/web

#126 [Y26W2-306] feat(web): Header 컴포넌트 개발
  apps/web/src/shared/assets/ssok-logo.svg
  apps/web/src/shared/components/header/index.tsx
Labels: size/s, apps/web

#127 [Y26W2-307] feat(ui): UI 라이브러리 SSR 오류 수정
  packages/ui/package.json
  packages/ui/src/components/time-picker/index.tsx
  packages/ui/src/components/travel-board/index.tsx
  packages/ui/src/hooks/use-floating.tsx
  packages/ui/vite.config.mts
  pnpm-lock.yaml
Labels: size/m, apps/web, packages/ui

#129 [Y26W2-310] feat(api): OpenAPI 갱신, 스키마 수정
  packages/api/src/api/openapi.json
  packages/api/src/index.msw.ts
  packages/api/src/index.schemas.ts
  packages/api/src/index.ts
Labels: root, size/xl, apps/web

#134 [Y26W2-266] fix(ui): 지도 Pin 최대너비 대응
  packages/ui/src/components/pin/index.tsx
  packages/ui/src/components/pin/pin.stories.tsx
Labels: size/s, apps/web, packages/ui

#133 [Y26W2-314] feat(ui): TextField maxLegnth 대응하여 개발
  packages/ui/src/components/text-field/index.stories.tsx
  packages/ui/src/components/text-field/index.tsx
Labels: size/s, apps/web, packages/ui

#136 [Y26W2-312] feat(ui): DateRangePicker 구현
  packages/ui/src/components/date-button/index.tsx
  packages/ui/src/components/date-range-picker/index.stories.tsx
  packages/ui/src/components/date-range-picker/index.tsx
  packages/ui/src/hooks/use-floating.tsx
  packages/ui/src/index.ts
Labels: size/m, apps/web, packages/ui, chromatic-deploy

#139 [Y26W2-315] feat(web): 첫 사용자 보드 생성 페이지 개발
  apps/web/public/static/dashboard/dashboard-new-1.webm
  apps/web/public/static/dashboard/dashboard-new-2.webm
  apps/web/src/app/boards/new/page.tsx
  apps/web/src/domains/dashboard/assets/symbol_arrow_right.svg
  apps/web/src/domains/dashboard/components/board-create-form/index.tsx
  apps/web/src/domains/dashboard/components/dashboard-video-background/index.tsx
  apps/web/src/domains/dashboard/hooks/use-video-loop.ts
  apps/web/src/domains/dashboard/types.ts
  apps/web/src/domains/dashboard/views/new-user-board-create-view/index.tsx
  apps/web/src/shared/utils/date.ts
  packages/ui/src/components/date-button/index.tsx
  packages/ui/src/components/text-field/index.tsx
Labels: size/m, apps/web, packages/ui

#140 [Y26W2-318] fix(web): useSession에서 redirect 대신 router.push를 사용하도록 변경
  apps/web/src/shared/hooks/use-session.ts
Labels: size/xs, apps/web

#138 [Y26W2-265] feat(web): 사이드바 UI 보충 및 Toggle Menu 구현
  apps/web/src/domains/auth/utils/auth-client.ts
  apps/web/src/domains/list/components/place-list-section/index.tsx
  apps/web/src/shared/assets/logo-symbol.svg
  apps/web/src/shared/components/side-navigation/atom/profile-menu.tsx
  apps/web/src/shared/components/side-navigation/index.tsx
  packages/ui/src/components/avatar-profile/index.tsx
  packages/ui/src/components/confirm/index.tsx
Labels: size/m, apps/web, packages/ui

#144 [Y26W2-320] feat(ui): Loading indicator UI 제작
  packages/tailwind-config/src/theme.ts
  packages/ui/src/components/spinner/index.tsx
  packages/ui/src/components/spinner/spinner.stories.tsx
Labels: size/s, apps/web, packages/ui, packages/tailwind-config

#143 [Y26W2-323] feat(web): 여행보드 없는 경우 여행 생성 페이지로 리다이렉트
  apps/web/src/app/boards/page.tsx
Labels: size/s, apps/web

#145 [Y26W2-324] feat(web): 여행보드에서 action Card 를 통한 숙소 생성
  apps/web/src/domains/dashboard/components/board-create-form/index.tsx
  apps/web/src/domains/dashboard/views/dashboard-view.tsx
  apps/web/src/domains/list/components/header-section/index.tsx
Labels: size/s, apps/web

#146 [Y26W2-328] fix(web): link 이동 이벤트 이벤트 전파 중지
  packages/ui/src/components/travel-board/index.tsx
Labels: size/xs, apps/web, packages/ui

#147 [Y26W2-327] chore(web): 프로필 메뉴 z-index 조정
  apps/web/src/shared/components/side-navigation/atom/profile-menu.tsx
Labels: size/xs, apps/web

#150 [Y26W2-333] feat(web): 여행목록 view 보드 수정하기
  apps/web/src/domains/dashboard/components/base-form-field/index.tsx
  apps/web/src/domains/dashboard/components/board-create-form/index.tsx
  apps/web/src/domains/dashboard/components/board-edit-form/index.tsx
  apps/web/src/domains/dashboard/types.ts
  apps/web/src/domains/dashboard/views/dashboard-view.tsx
  apps/web/src/shared/providers/index.tsx
  packages/ui/src/components/action-option/index.tsx
Labels: size/m, apps/web, packages/ui

#149 [Y26W2-322] feat(web): 보드 삭제하기, 나가기 Confirm 개발
  apps/web/src/domains/dashboard/components/dashboard-trip-board/index.tsx
  apps/web/src/domains/dashboard/types.ts
  apps/web/src/domains/dashboard/views/dashboard-view.tsx
  packages/ui/src/components/action-option/index.tsx
  packages/ui/src/components/confirm/index.tsx
  packages/ui/src/components/travel-board/index.tsx
Labels: size/m, apps/web, packages/ui

#151 [Y26W2-337] feat(web): Trip board 공유하기
  apps/web/src/domains/dashboard/components/board-invite-modal/index.tsx
  apps/web/src/domains/dashboard/components/dashboard-trip-board/index.tsx
  apps/web/src/domains/dashboard/hooks/use-invite.ts
  apps/web/src/domains/list/components/header-section/index.tsx
  packages/ui/src/components/button/button.variant.ts
  packages/ui/src/components/button/index.tsx
  packages/ui/src/components/switch/index.tsx
  packages/ui/src/components/switch/switch.stories.tsx
  packages/ui/src/index.ts
Labels: size/m, apps/web, packages/ui

#158 [Y26W2-345] feat(web): 비교표 삭제 모달 및 api 연동
  apps/web/src/domains/compare/components/compare-tile/index.tsx
  apps/web/src/domains/compare/views/compare-list-view/index.tsx
Labels: size/m, apps/web

#159 [Y26W2-344] feat(web): 비교표 수정 모달 구현 및 api 연결
  apps/web/src/domains/compare/components/compare-edit-modal/index.tsx
  apps/web/src/domains/compare/components/compare-tile/index.tsx
Labels: size/m, apps/web

#165 [Y26W2-352] fix(web): 랜딩 페이지 버튼 텍스트 수정
  apps/web/src/domains/landing/components/hero-section/index.tsx
Labels: size/xs, apps/web

#167 [Y26W2-353] feat(web): 비교표 공유 구현
  apps/web/src/app/boards/[id]/compares/[table-id]/page.tsx
  apps/web/src/domains/compare/api/index.ts
  apps/web/src/domains/compare/hooks/use-comparison-table.ts
  apps/web/src/domains/compare/views/compare-page-view/index.tsx
Labels: size/m, apps/web

#174 [Y26W2-358] feat(web): 숙소 핀 선택 여부에 따른 zoom level 조절
  apps/web/src/shared/components/map-component/index.tsx
Labels: size/xs, apps/web

#175 [Y26W2-359] chore(web): 로고 텍스트 범위까지 링크이동 지원 및 링크 새창열기
  packages/ui/src/components/card/index.tsx
Labels: size/s, apps/web, packages/ui

#176 [Y26W2-356] feat(web): 로그인 시 header에 profile image 표시
  apps/web/src/app/boards/new/page.tsx
  apps/web/src/app/boards/page.tsx
  apps/web/src/app/page.tsx
  apps/web/src/domains/dashboard/views/dashboard-view.tsx
  apps/web/src/domains/dashboard/views/new-user-board-create-view/index.tsx
  apps/web/src/shared/components/header/index.tsx
Labels: size/m, apps/web

#182 [Y26W2-367] chore(web): 지원가능한 링크 소개 멘트 수정
  apps/web/src/domains/list/components/link-input-section/atom/title-section.tsx
Labels: size/xs, apps/web

#183 [Y26W2-365] fix(web): 인근 관광지 fallback 조건문 수정
  packages/ui/src/components/card/card.utils.tsx
Labels: size/s, apps/web, packages/ui

#188 [Y26W2-372] fix(web): tableName 자동 생성을 위한 null 처리
  apps/web/src/domains/list/components/place-list-section/index.tsx
  packages/api/src/api/openapi.json
  packages/api/src/index.schemas.ts
Labels: root, size/xs, apps/web

#187 [Y26W2-374] fix(web): 로그아웃 시 cookieOption 통일, 캐시 제거
  apps/web/src/domains/auth/utils/auth-client.ts
  apps/web/src/shared/components/side-navigation/atom/profile-menu.tsx
Labels: size/xs, apps/web

#189 [Y26W2-375] feat(web): 랜딩 페이지 푸터 이용약관, 개인정보처리방침, 문의메일 외부링크 연결
  apps/web/src/shared/components/footer/index.tsx
Labels: size/xs, apps/web

#190 [Y26W2-376] feat(web): 로그인 필요 리다이렉트 일괄 수정
  apps/web/src/app/boards/[id]/compares/[table-id]/page.tsx
  apps/web/src/app/boards/[id]/compares/page.tsx
  apps/web/src/app/boards/[id]/lists/page.tsx
  apps/web/src/app/boards/[id]/page.tsx
  apps/web/src/app/boards/new/page.tsx
  apps/web/src/app/boards/page.tsx
  apps/web/src/domains/auth/index.ts
  apps/web/src/domains/auth/utils/auth-client.ts
  apps/web/src/domains/auth/utils/url.ts
  apps/web/src/middleware.ts
Labels: size/s, apps/web

#192 [Y26W2-379] chore(web): 최대 글자 placeholder 제거
  apps/web/src/domains/compare/components/compare-table/amenities-cell.tsx
Labels: size/xs, apps/web

#194 [Y26W2-381] fix(web): 인근 관광지 및 인근 교통편의 절대 거리 fallback mapping
  apps/web/src/domains/compare/components/compare-table/nearby-places-cell.tsx
  apps/web/src/domains/compare/utils/form.ts
  packages/ui/src/components/card/index.tsx
  packages/ui/src/index.ts
  packages/ui/src/utils/get-attraction-distance.tsx
Labels: size/s, apps/web, packages/ui
