Repository YAPP-Github/26th-Web-Team-2-FE, pull requests merged in 2025-06, with the labels that each got.

#17 [Y26W2-14] feat(root): pr label auto assign 설정
  .github/workflows/labeler.yml
Labels: root, size/m

#20 [Y26W2-15] feat(ui): TailwindCSS cn 클래스 유틸 추가
  packages/ui/package.json
  packages/ui/src/interim-button/index.tsx
  packages/ui/src/interim-description/index.tsx
  packages/ui/src/interim-title/index.tsx
  packages/ui/src/utils/index.ts
  pnpm-lock.yaml
Labels: root, size/xl, apps/web, packages/ui

#18 [Y26W2-16] feat(root): tanstack query 초기설정
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/shared/configs/tanstack-query/get-query-client.ts
  apps/web/src/shared/configs/tanstack-query/query-client-options.ts
  apps/web/src/shared/providers/query-provider.tsx
  pnpm-lock.yaml
Labels: root, size/m, apps/web

#24 [Y26W2-17] feat(web): jotai 설치 및 provider 세팅
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/shared/atoms/counter.ts
  apps/web/src/shared/providers/index.tsx
  apps/web/src/shared/providers/modules/jotai-provider.tsx
  apps/web/src/shared/providers/modules/query-provider.tsx
  pnpm-lock.yaml
Labels: root, size/m, apps/web, packages/ui

#25 [Y26W2-33] feat(web): next-plugin-svgr 설정
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/public/file.svg
  apps/web/public/globe.svg
  apps/web/public/next.svg
  apps/web/public/vercel.svg
  apps/web/public/window.svg
  apps/web/src/app/page.tsx
  apps/web/src/shared/assets/svg/ic_check_black_22.svg
  apps/web/src/types/next-plugin-svgr.d.ts
  pnpm-lock.yaml
Labels: root, size/xl, apps/web, packages/ui

#27 [Y26W2-38] feat(root): pr label auto assign 개선
  .github/workflows/labeler.yml
Labels: root, size/s, apps/web
